
body {
  margin: 0;
}

//@keyframes myfirst_60 {
//  0% {
//    transform: rotate(0deg);
//  }
//  100% {
//    transform: rotate(60deg);
//  }
//}
//
//@keyframes myfirst_120 {
//  0% {
//    transform: rotate(0deg);
//  }
//  100% {
//    transform: rotate(120deg);
//  }
//}
//
//@keyframes myfirst_180 {
//  0% {
//    transform: rotate(0deg);
//  }
//  100% {
//    transform: rotate(180deg);
//  }
//}

.game {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  .show-theme {
    width: 380px;
    background-repeat: no-repeat;
    background-position: right center;
  }

  .board-area {
    flex: 1;

    .board {
      margin: 20px auto 0;
      background: url("assets/images/board-bg-1.jpg");
      background-size: cover;
      box-shadow: 0 0 20px #bbb;
      //animation: myfirst 0.5s ease-in-out forwards;


      .board-row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        .circle-item {
          background-color: #dddddd;

          &.able-receive {
            background-color: #fff;
            border: 2px dashed forestgreen;
            box-shadow: none;
            box-sizing: border-box;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .btns-area {
    width: 550px;
    margin-right: 10px;

    > div {
      background: #eee;
      border: 1px solid #aaa;
      padding: 0 10px 4px 10px;
      margin-top: 10px;

      h4 {
        margin: 10px 0;
      }
    }

    .theme {
      .themes-wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;

        button {
          width: 50px;
          height: 50px;
          border-style: none;
          outline: none;
          background-size: 50px 50px;
          background-position: center center;
          margin-right: 15px;
          cursor: pointer;
          margin-bottom: 10px;

          &.current-theme {
            width: 66px;
            height: 66px;
            border: 6px solid #9ACD32;
            background-size: 54px 54px;
          }

          &.disabled {
            opacity: 0.6;
            cursor: not-allowed;
          }
        }
      }
    }

    .select-roles {
      .roles {
        button {
          width: 40px;
          height: 40px;
          border-radius: 20px;
          background-size: 40px 40px;
          border-style: none;
          outline: none;
          margin: 0 10px 10px 0;
          cursor: pointer;

          &.selected {
            width: 48px;
            height: 48px;
            border-radius: 24px;
            border: 4px solid #9ACD32;
          }

          &.disabled {
            opacity: 0.6;
            cursor: not-allowed;
          }
        }
      }
    }

    .next-player {
      .players {
        button {
          width: 40px;
          height: 40px;
          border-radius: 20px;
          background-size: 40px 40px;
          border-style: none;
          outline: none;
          margin: 0 10px 10px 0;

          &.current-role {
            width: 58px;
            height: 58px;
            border-radius: 29px;
            background-size: 50px 50px;
            border: 4px solid red;
          }
        }
      }
    }

    .confirm-btn {
      width: 380px;
      height: 100px;
      position: fixed;
      bottom: 30px;
      left: 30px;
      font-size: 30px;
      outline: none;
    }

    .ranking {
      div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;

        p {
          margin: 4px;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: flex-start;
          align-items: center;
          margin-right: 10px;
          border: 1px dashed #999999;
          padding: 2px 4px;
          background-color: #ddd;

          button {
            width: 40px;
            height: 40px;
            border-radius: 20px;
            border-style: none;
            background-size: 40px 40px;
            outline: none;
          }
        }
      }
    }

    .history-steps {
      div {
        //height: 300px;
        max-height: 300px;
        overflow-y: scroll;

        button {

        }
      }
    }
  }
}