
body {
  margin: 0;
}

.game {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 10px;

  .show-theme {
    width: 380px;
    background-repeat: no-repeat;
    background-position: right top;
  }

  .board-area {
    flex: 1;

    .board {
      margin: 20px auto 0;
      background: url("assets/images/board-bg-1.jpg");
      background-size: cover;
      box-shadow: 0 0 20px #bbb;

      .board-row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        .circle-item {
          background-color: #dddddd;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .btns-area {
    width: 400px;
    height: 400px;

    > div {
      background: #eee;
      border: 1px solid #aaa;
      padding: 10px;

      h4 {
        margin: 10px 0;
      }
    }

    .theme {
      .themes-wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;

        button {
          width: 50px;
          height: 50px;
          border-style: none;
          outline: none;
          background-size: 50px 50px;
          background-position: center center;
          margin-right: 15px;
          cursor: pointer;
          margin-bottom: 10px;

          &.current-theme {
            width: 66px;
            height: 66px;
            border: 6px solid #9ACD32;
            background-size: 54px 54px;
          }
        }
      }
    }
  }
}